@font-face {
    font-family: "roboto";
    src: url("../fonts/Roboto-Bold.woff2") format("woff2");
    src: url("../fonts/Roboto-Bold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "roboto";
    src: url("../fonts/Roboto-BlackItalic.woff2") format("woff2");
    src: url("../fonts/Roboto-BlackItalic.woff") format("woff");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "roboto";
    src: url("../fonts/Roboto-Italic.woff2") format("woff2");
    src: url("../fonts/Roboto-Italic.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "roboto";
    src: url("../fonts/Roboto-Black.woff2") format("woff2");
    src: url("../fonts/Roboto-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "roboto";
    src: url("../fonts/Roboto-Regular.woff2") format("woff2");
    src: url("../fonts/Roboto-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "roboto";
    src: url("../fonts/Roboto-Light.woff2") format("woff2");
    src: url("../fonts/Roboto-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "roboto";
    src: url("../fonts/Roboto-Medium.woff2") format("woff2");
    src: url("../fonts/Roboto-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}


body {
    margin: 0 auto;
    height: auto;
    font-size: 16px;
    font-family: "roboto", Arial, Helvetica, sans-serif;
}

.list__reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
    max-width: 77%;
}

.header {
    max-width: 1440px;
    height: 80px;
    background-color: #3F2AFF;
}

.nav-link {
    color: #FFFFFF;
}


.nav-item:not(:last-child) {
    margin-right: 56px;
}

.hero {
    background: radial-gradient(44.07% 44.07% at 67.78% 55.93%, #555681 0%, #212133 100%);
}

.hero__container {
    background-image: url('../img/Image-hero-1.png');
    background-position: right center;
    background-position-x: calc(100% - 15px);
    background-repeat: no-repeat;
}

.hero__text {
    padding: 135px 0;
    color: #FFFFFF;
}

.hero__title {
    max-width: 459px;
    font-weight: 700;
    font-size: 60px;
    line-height: 100%;
}

.hero__stream {
    margin-top: 30px;
}

.hero__btn {
    margin-top: 70px;
    width: 270px;
}

.hero__btn-text {
    border-radius: 20px;
    background-color: #3F2AFF;
    padding: 24px 75.5px;
    color: #FFF;
}

@media (max-width: 1100px) {
    .hero__container {
        background-size: 50%;
    }

    .hero__title {
        font-size: 50px;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 0 40px;
    }

    .hero__container {
        background-image: url('../img/Image-hero-1.png');
        background-position-y: calc(50% - 12px);
        background-position-x: calc(100% - 40px);
        background-size: auto;
    }

    .hero__content {
        padding-right: 180px;
    }

    .hero__title {
        font-size: 50px;
    }
}

@media (max-width: 766px) {
    .container {
        padding: 0 33px;
    }

    .hero__text {
        padding: 77px 0 135px 0;
    }

    .hero__container {
        background-image: none;
    }

    .hero__content {
        padding-right: 0;
    }

    .hero__btn {
        margin-top: 64px;
    }
}

@media (max-width: 534px) {

    .hero__text {
        padding: 50px 0;
    }

    .hero__content {
        padding-right: 0;
    }

    .hero__title {
        font-size: 30px;
        line-height: 30px;
    }

    .hero__stream {
        font-size: 16px;
        line-height: 21px;
    }

    .hero__btn {
        width: 270px;
    }
}

@media (max-width: 320px) {
    .hero__text {
        padding: 15px 0;
    }

    .hero__stream {
        margin-top: 7px;
    }

    .hero__btn {
        margin-top: 46px;
        width: 270px;
    }

    .hero__btn-text {
        font-size: 16px;
    }
}


.about {
    max-width: 1440px;
    margin-top: 80px;
    background: #FFFFFF;
}

.benefits__about {
    align-items: center;
}

.about__titlle {
    width: 65%;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    color: #2E2B44;
}

.about__stream {
    margin-top: 30px;
    min-width: 380px;
    line-height: 150%;
    color: #666666;
}

.achievements {
    margin-top: 20px;
}

.achievements__card {
    display: flex;
    align-items: center;
}

.achievements__card-image {
    padding-right: 30px;
}

.achievements__card-text {
    font-size: 16px;
    line-height: 19px;
    color: #666666;
}

@media (max-width: 768px) {
    .container {
        padding: 0 40px;
    }

    .about__title {
        width: 100%;
    }

    .achievements__card {
        flex-direction: column;
        align-items: flex-start;
    }

    .achievements__card-text {
        margin-top: 15px;
    }
}

@media (max-width: 766px) {
    .container {
        padding: 0 33px;
    }

    .about__img {
        align-self: flex-start;
    }
}

@media (max-width: 576px) {}

@media (max-width: 534px) {
    .about__image {
        display: none;
    }

    .about__text.col-8 {
        width: 100%;
    }

    .about__title {
        line-height: 26px;
        font-size: 20px;
    }

    .achievements__card {
        flex-direction: row;
        margin-top: 30px;
    }

    .achievements__card.col-4 {
        width: 100%;
    }
}

@media (max-width: 320px) {
    .achievements {
        margin-top: 0;
    }

    .achievements__card-text {
        margin-top: 0;
    }
}

/* teachers */

.teachers {
    margin-top: 75px;
    padding: 75px 0;
    background: #212133;
}

.profile__item {
    margin-top: 26px;
}

.teacher__photo {
    border-radius: 20px 20px 0 0;
}

.teachers__title {
    color: #fff;
}

.teacher__name {
    margin-top: 30px;
    font-size: 18px;
    line-height: 27px;
    color: #fff;
}

.teacher__text {
    margin-top: 8px;
    font-size: 16px;
    line-height: 24px;
    color: #85859B;
}

@media (max-width: 766px) {
    .profile__item {
        margin-top: 24px;
    }
}

@media (max-width: 766px) {
    .container {
        padding: 0 33px;
    }

    .teachers {
        margin-top: 60px;
    }
}

@media (max-width: 576px) {
    .teachers {
        margin-top: 55px;
    }
}

@media (max-width: 320px) {
    .teachers {
        margin-top: 44px;
        padding: 48px 0;
    }

    .profile__item.col-6 {
        width: 100%;
    }

    .teacher__name {
        margin-top: 30px;
    }
}

/* courses */
.courses {
    margin-top: 75px;
    margin-bottom: 80px;
    background-color: #fff;
}

.direction__item {
    margin-top: 25px;
    min-height: 480px;
    display: flex;
    flex-direction: column;
}

.direction__item-image {
    position: relative;
}

.direction__item-timer {
    padding-left: 30px;
    background-image: url('../img/timer.svg');
    background-position: left center;
    background-repeat: no-repeat;
    position: absolute;
    right: 5px;
    top: 13px;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}

.direction__item-description {
    /* width: 539px; */
    padding: 30px 29px;
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #EDF0F9;
    border-radius: 0px 0px 20px 20px;
}

.direction__description-title {
    font-size: 18px;
    line-height: 27px;
    color: #212133;
}

.direction__description-text {
    padding-bottom: 20px;
    margin-bottom: auto;
    margin-top: 7px;
    font-size: 16px;
    line-height: 24px;
    color: #666666;
}

.cours__btn {
    width: 202px;
}

.cours__btn_text {
    border-radius: 20px;
    background-color: #3F2AFF;
    padding: 20px 59px;
    color: #FFF;
}

@media (max-width: 768px) {
    .container {
        padding: 0 40px;
    }

    .courses {
        margin-top: 47px;
    }

    .direction__item {
        min-height: 556px;
    }
}

@media (max-width: 766px) {
    .container {
        padding: 0 33px;
    }

    .direction__description-btn {
        padding: 20.5px 48px;
    }
}

@media (max-width: 576px) {
    .courses {
        margin-top: 72px;
    }

    .direction__item {
        min-height: 653px;
    }
}

@media (max-width: 534px) {
    .courses {
        margin-top: 50px;
    }

    .direction__item.col-6 {
        width: 100%;
    }

    .direction__item {
        min-height: 300px;
    }

    .direction__item-image {
        display: none;
    }

    .direction__item-description {
        border-radius: 20px;
    }
}

@media (max-width: 320px) {
    .container {
        padding: 0 15px;
    }

    .courses {
        margin-top: 44px;
    }

    .direction__item-image {
        display: block;
    }

    .direction__item-description {
        border-radius: 0 0 20px 20px;
    }

    .direction__item {
        min-height: 653px;
    }

    .direction__description-btn {
        padding: 20.5px 55.5px;
    }
}

/* footer */

.footer {
    max-width: 1440px;
    height: 80px;
    background: #2E2B44;
}

.footer__media {
    width: 20px;
    height: 20px;
    line-height: 80px;
}

.footer__media:not(:last-child) {
    margin-right: 35px;
}